*.egg-info
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.settings
/.mr.developer.cfg
node_modules
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
build
dist
yarn.lock
